h2.anchored {
    color: #0b5394;
}

h3.anchored {
    color: #5431af;
}


.control-label {
    color: #a32a93;
}

.results-main {
    font-size: 1.5em;
    /* color: maroon; */
    /* text-align: center; */
    /* border: cornflowerblue;
    border-style: solid;
    border-radius: 30px; */
}